.content-about {
    background: url(../images/3.jpg) no-repeat center/cover;
    position: relative;
    z-index: -1;
    
}

.content-about::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(3rem);
    z-index: -1;
    animation: hue 7s infinite alternate;
}

/* HUE ANIMATION */
@keyframes hue {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.content-header {
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.content-about .content-header {
    border-bottom: 1px solid rgba(255,255,255,.3);
    padding: 1.7rem 0;
}

.content-header h2 {
    font-size: 2.5rem;
    line-height: .5;
    color: #4f524f;
    z-index: 1;
}

.content-about .content-header h2 {
    color: #eee;
}

.content-header h2 span {
    color: #9d0191;
}

.content-details {
    padding: .5rem 0;
}

.content-about .content-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.content-about .content-details img {
    width: 12rem;
    height: 12rem;
    border-radius: 33% 67% 68% 32% / 46% 54% 46% 54%;
    border: 2px solid #eee;
    margin-bottom: 1rem;
}

.content-about .content-details p {
    color: #fff;
    font-weight: 300;
    font-size: small;
}

.content-about .content-details p span.text {
    font-size: 1.8rem;
}

.content-about .content-details p span.name {
    color: #ffb640;
    font-size: 2.5rem;
    font-weight: 700;
}